{{#if error}}
    <p class="paymentError">{{pageLabelMap 'Payment_Tokens_Error'}}</p>
{{else}}
    <div class="paymentTokens">
        <table id="paymentTokensTable" class="table cc_table">
            <tr class="cc_table_header_row">
                <th class="cc_table_header"></th>
                <th class="cc_table_header">
                    <span>{{pageLabelMap 'Payment_Tokens_Card_Type'}}</span>
                </th>
                <th class="cc_table_header">
                    <span>{{pageLabelMap 'Payment_Tokens_Card_Number'}}</span>
                </th>
                <th class="cc_table_header">
                    <span>{{pageLabelMap 'Payment_Tokens_Card_Expires'}}</span>
                </th>
                <th class="cc_table_header"></th>
            </tr>
            {{#each availableTokens}}
                <tr class="paymentTokenRow cc_table_row">
                    <td class="cc_table_col cc_payment_token_select">
                        <input id="ccb2b-payment-token-{{CCB2B_PaymentTokenID__c}}" data-id={{Id}} class="paymentToken" type="radio"
                               value={{CCB2B_PaymentTokenID__c}} name="paymentToken"/>
                        <label for="ccb2b-payment-token-{{CCB2B_PaymentTokenID__c}}"></label>
                    </td>
                    <td class="cc_table_col" data-label="{{pageLabelMap 'Payment_Tokens_Card_Type'}}:">
                        {{#if CCB2B_CardBrand__c}} <span>{{CCB2B_CardBrand__c}}</span>{{else}}<span> - </span>{{/if}}
                    </td>
                    <td class="cc_table_col cc_table_number"
                        data-label="{{pageLabelMap 'Payment_Tokens_Card_Number'}}:">
                        {{#if CCB2B_CardObfuscatedNumber__c}} <span>{{CCB2B_CardObfuscatedNumber__c}}</span>{{else}}
                            <span> - </span>{{/if}}
                    </td>
                    <td class="cc_table_col cc_table_expires"
                        data-label="{{pageLabelMap 'Payment_Tokens_Card_Expires'}}:">
                        {{#if CCB2B_CardExpiryDate__c}} <span>{{formatDateFromMilliseconds CCB2B_CardExpiryDate__c "mm/yyyy"}}</span>{{else}}
                            <span> - </span>{{/if}}
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-trash removeToken pull-right" data-id="{{Id}}"></span>
                    </td>
                </tr>
            {{/each}}
            <tr class="paymentTokenRow cc_table_row">
                <td class="cc_table_col cc_payment_token_select">
                    <input id="ccb2b-payment-token-new" class="paymentToken" type="radio" checked value='newToken'
                           name="paymentToken"/>
                    <label for="ccb2b-payment-token-new"></label>
                </td>
                <td colspan="4" class="cc_table_col" data-label="{{pageLabelMap 'Payment_Tokens_Use_New_Card'}}<:">
                    {{pageLabelMap 'Payment_Tokens_Use_New_Card'}}
                </td>
            </tr>
        </table>
    </div>
    <div id="monerisSection">
        <iframe id=monerisFrame
                class="monerisIframe"
                src="{{pageConfigMap 'mon.baseurl'}}?id={{pageConfigMap 'mon.id'}}&pmmsg=true&css_body=background:none;
        font-family: CervoNeueRegular, sans-serif;&css_textbox=display:block; height:34px; margin: 10px 0; padding: 6px
        12px; font-size: 14px; line-height: 1.42857143; color: rgb(85 85 85); background-color: rgb(255 255 255);
        background-image: none; border: 1px solid rgb(204 204 204); border-radius: 4px; box-shadow: inset 0 1px 1px
        rgba(0,0,0,.075); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color
        ease-in-out .15s,box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow
        ease-in-out .15s; -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; transition: border-color
        ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out
        .15s,-webkit-box-shadow ease-in-out .15s;&display_labels=1&css_textbox_pan=width:240px;&pan_label={{pageLabelMap
            'Moneris_Card_Number'}}
        &enable_exp=1&css_textbox_exp=width:80px;&enable_cvd=1&css_textbox_cvd=width:80px&exp_label={{pageLabelMap
            'Moneris_Expiry'}}&cvd_label={{pageLabelMap 'Moneris_CVC'}}
        &enable_name=1" scrolling="no"
        />
        <input id="ccb2b-payment-token-save" type="checkbox" name="saveCard"/>
        <label for="ccb2b-payment-token-save" class="submitIframeLabel">{{pageLabelMap 'Moneris_Save_Card'}}</label>
        {{#if monerisResp.errorMessage}}
            {{#each monerisResp.errorLabels}}
                <p class="paymentError">{{pageLabelMap this}}</p>
            {{/each}}
        {{/if}}
    </div>
    <div id="removeTokenError" class="modal fade cc_modal in" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content cc_modal_content">
                <div class="modal-body cc_modal_body text-center">
                    <p>{{pageLabelMap 'Payment_Tokens_Remove_Token_Error'}}</p>
                </div>
                <div class="modal-footer cc_modal_footer text-center">
                    <input type="button" class="btn primary_button btn-default btn-sm" data-dismiss="modal"
                           value="{{pageLabelMap 'Ok'}}">
                </div>
            </div>
        </div>
    </div>
{{/if}}