<div class="quick_wishlist cc_quick_wishlist cc_addon_tab">
    <div class="row related_items">
        {{#each this.pageData}}
            {{#ifLessThan @index 3}}
            <div class="col-md-4 col-sm-12 related_item">
                <div class="row">
                    <div class="quick_wishlist_item col-md-12 cc_quick_wishlist_item">
                        <div class="cc_cart_item">
                            {{#if this.mediaWrapper}}
                            {{productLink this.prodBean 'cc_cart_item' image=(displayImage this.mediaWrapper 'prodDetRel img-responsive' alt=this.prodBean.name dataId=this.prodBean.sku)}}
                            {{else}}
                                {{productLink this.prodBean 'cc_product_name' image=(displayPlaceholderImage this)}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 related_product_name">
                        <p class="cc_prod_name">
                            {{productLink this.prodBean 'productName cc_data_link'}}<br>
                            <span class="cc_sku_label">{{pageLabelMap 'ProductDetailsInc_SKU'}}</span>&#160;
                            <span class="cc_sku_value">{{this.prodBean.sku}}</span>
                        </p>
                    </div>
                </div>
                {{#if (checkContactDisplayPermissions 'pricing')}}
                <div class="row">
                    <div class="col-md-12 related_price">
                        <div>
                            <input type="hidden" name="qtyIncrement" value="{{this.qtySingleIncrement}}" class="item_qtyIncrement" />
                            <input type="hidden" name="qtySkipIncrement" value="{{this.qtySkipIncrement}}" class="item_qtySkipIncrement" />
                            {{#ifDisplay 'PD.DsplPrc' }}
                            {{#if this.prodBean.primaryAttr}}
                            <span class="cc_attr_message">{{pageLabelMap 'ProductAttributes_PriceMessage'}}</span>
                            {{else}}
                            {{#if this.showNewSubscriptionSelection}}
                            <p class="price priceSubscription cc_price_subscription">
                                <strong>{{pageLabelMap 'Prod_SubsAlternatePrice' (price this.price) (price this.minSubPrice) (price this.maxSubPrice)}}</strong>
                            </p>
                            {{else}}
                            {{#if this.displayPrice}}
                            <p class="price displayPrice cc_display_price">
                                {{pageLabelPrefixMap 'DisplayPrice_' this.displayPrice}}
                            </p>
                            {{else}}
                            {{#if this.showPricing}}
                            {{#if this.price}}
                            <div class="cc_pricing">
                                <p class="price cc_price">
                                    <span>{{price this.price}}</span>
                                    {{#if this.prodBean.CCB2BPricePerLiter}}
                                        <span class="pricePerLiter">{{price this.prodBean.CCB2BPricePerLiter}}{{pageLabelMap 'CCB2B_PricePerLiter'}}</span>
                                    {{/if}}
                                    </p>
                            </div>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{#if this.isTierPriced}}
                            <div class="cc_prt_tool_tip_div cc_prt_tool_tip_div_pdp">
                   <span class="cc_prt_tool_tip_text cc_prt_tool_tip_text_pdp" data-toggle="tooltip" title="{{pageLabelMap 'ProductPricingTiers_VolumeHover'}}">
                    {{pageLabelMap 'ProductPricingTiers_VolumePricing'}}
                   </span>
                            </div>
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/ifDisplay}}
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="messagingSection-Warning-{{prodBean.sfid}} invalid_qty_msg" style="display: none"></div>
                        <div class="quantity_block gp_quantity_block cc_quantity_block">
                            <div class="row cc_qty_control_row">
                                <div class="col-md-12 related_quantity">
                                    <div class="form-group">
                                        <div class="input-group cc_input_group">
                                        <span class="input-group-btn cc_input_group_btn">
                                            <input type="button" data-sfid="{{prodBean.sfid}}" value="{{pageLabelMap 'Prod_QtyDecrSingle'}}" class="btn btn-default btn-sm r_minus cc_minus">
                                        </span>
                                            <input type="text" data-sfid="{{prodBean.sfid}}" data-sku="{{prodBean.sku}}" data-name="{{prodBean.name}}" id="ccb2b-pdp-related-{{prodBean.sfid}}_qtyEntry" value="0" class="qty r_entry form-control input-sm cc_entry" maxlength="7" />
                                            <span class="input-group-btn cc_input_group_btn">
                                            <input type="button" data-sfid="{{prodBean.sfid}}" value="{{pageLabelMap 'Prod_QtyIncrSingle'}}" class="btn btn-default btn-sm r_plus cc_plus">
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{#if (checkContactDisplayPermissions 'create_basket')}}
                <div class="row">
                    <div class="col-md-12 related_add">
                        <div class="action cc_action text-center">
                            <button type="button" class="primary_button btn btn-default btn-sm r_addItem cc_add_item cc_add_to_btn cc_add_to_btn_{{this.sfid}}" data-sfid="{{prodBean.sfid}}" data-sku="{{prodBean.sku}}" data-name="{{prodBean.name}}">{{pageLabelMap 'Component_MiniwishList_AddToCart'}}</button>
                        </div>
                    </div>
                </div>
            {{/if}}
            </div>
            {{/ifLessThan}}
        {{#pdp-ifRowFull @index}}
        <div class="clearfix"></div>
        {{/pdp-ifRowFull}}
        {{/each}}
    </div>
</div>
  