<div class="panel panel-default cc_panel cc_myaccount_mycart">
    <div class="panel-heading cc_heading">
        <h3 id="ccb2b-ma-carts-title-label" class="panel-title cc_title">{{pageLabelMap 'MyAccount_MyCarts'}}</h3>
    </div>
    {{#if this.[0].sfid}}
        <div class="cc_myaccount_content">
            <div class="table-responsive collapsible_table">
                <table id="cartTable" class="table cc_table cc_shopping_cart_table">
                    <tr class="cc_table_header_row">
                        <th class="cc_table_header">
                            <span class="cc_table_header_name">{{pageLabelMap 'MyCartsInc_CartName'}}</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_date">{{pageLabelMap 'MyCartsInc_LastUpdate'}}</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_subtotal">{{pageLabelMap 'MyCartsInc_SubAmount'}}</span>
                        </th>
                        <th class="cc_table_header text-right">
                            <span class="cc_table_header_actions"></span>
                        </th>
                    </tr>
                    {{#each this}}
                        <tr class="cc_table_row">
                            <td class="cc_table_col" data-label="{{pageLabelMap 'MyCartsInc_CartName'}}:">
                                <a href="#" id="{{generateId 'ccb2b-ma-carts-name-' sfid '-field'}}" data-id="{{encryptedId}}" class="cc_col_name gotoCartDetails cc_goto_cart_details gotoDetails">{{{name}}}</a>
                            </td>
                            <td class="cc_table_col" data-label="{{pageLabelMap 'MyCartsInc_LastUpdate'}}:">
                                <span id="{{generateId 'ccb2b-ma-carts-modifieddate-' sfid '-field'}}" class="cc_col_date">{{lastModifiedDateStr}}</span>
                            </td>
                            <td class="cc_table_col" data-label="{{pageLabelMap 'MyCartsInc_SubAmount'}}:">
                                <span id="{{generateId 'ccb2b-ma-carts-subtotal-' sfid '-field'}}" class="cc_col_subtotal">{{price subtotal}}</span>
                            </td>
                            <td class="cc_table_col text-right" nowrap="true">
                                <div class="button-group cc_button_group">
                                    {{#ifDisplay 'SC.DsplCloneFeature'}}
                                    <input id="{{generateId 'ccb2b-ma-carts-clone-' sfid '-button'}}" type="button" class="cloneCart btn btn-default btn-sm cc_clone" data-id="{{sfid}}" value="{{pageLabelMap 'Action_Clone'}}"/>
                                    {{/ifDisplay}}
                                    <a href="#renameMod_{{sfid}}" data-toggle="modal" class="cc_rename">
                                        <input id="{{generateId 'ccb2b-ma-carts-rename-' sfid '-button'}}" type="button" value="{{pageLabelMap 'Action_Rename'}}" class="btn btn-default btn-sm cc_rename" />
                                    </a>
                                    <a id="{{generateId 'ccb2b-ma-carts-delete-' sfid '-button'}}" type="button" class="deleteCart glyphicon glyphicon-trash cc_delet_cart" data-id="{{sfid}}" value="{{pageLabelMap 'Action_Delete'}}"></a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            {{#each this}}
                <div id="renameMod_{{sfid}}" class="modal fade cc_modal cc_mycart_modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content cc_modal_content">
                            <div class="modal-header cc_modal_header">
                                <button type="button" class="close cc_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
                                <h4 class="modal-title cc_modal_title">{{pageLabelMap 'Title_ModifyCart' name }}</h4>
                            </div>
                            <div class="modal-body cc_modal_body">
                                <form class="renameForm cc_rename_form">
                                    <input type="text" value="{{{name}}}" name="rename_{{sfid}}" class="rename_{{sfid}} form-control cc_rename_input">
                                </form>
                            </div>
                            <div class="modal-footer cc_modal_footer">
                                <input type="button" class="btn primary_button btn-default btn-sm renameCart cc_rename_cart" data-id="{{sfid}}" value="{{pageLabelMap 'Save'}}"/>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <p id="ccb2b-ma-carts-noitem-label" class="noItemsInfo">{{pageLabelMap 'CCB2B_MyAccount_NoItems_MyCart_Label'}}</p>
    {{/if}}
</div>
