{{#if (checkContactDisplayPermissions 'pricing')}}
    <div class="row cartSummaryContainer stickyContainer">
        <div class="col-xs-12 cartSummaryTitle cc_label text-right">{{pageLabelMap 'CCB2B_StickyBasketTitle'}}</div>
        <div class="col-xs-6">
            <div class="cartSummaryLine">
            <span class="icon-cart-circle cartIcon">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
            </div>
            <div class="cartSummaryLine cc_label">
                <div class="cc_label">{{pageLabelMap 'CCB2B_Basket_Subtotal_Column'}}</div>
                <span class="cc_label additionalInfo detail">{{pageLabelMap 'CCB2B_ExclTax'}}</span>
            </div>
            <div class="cartSummaryLine cc_label">{{pageLabelMap 'CCB2B_Tax'}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="cartSummaryLine cc_label">
                <span class="detail">{{totalItems}} {{#ifGreater totalItems 1}} {{pageLabelMap 'Component_MiniCart_Items'}} {{else}} {{pageLabelMap
                        'Component_MiniCart_Item'}} {{/ifGreater}}</span>
            </div>
            <div class="cartSummaryLine amountToRight">{{{price subtotal}}}</div>
            <div class="cartSummaryLine amountToRight">{{price (calculateTax subtotal 'uk')}}</div>
        </div>
        <div class="cartSummarySeparator">
        </div>
        <div class="col-xs-6">
            <div class="cartSummaryLine">
                <div class="cc_label cc_cart_total_amount">{{pageLabelMap 'CartInc_Total'}}</div>
                <span class="cc_label additionalInfo detail">{{pageLabelMap 'CCB2B_InclTax'}}</span>
            </div>
            <div class="cartSummaryLine cc_label total_saving">{{pageLabelMap 'CCB2B_Total_saving'}}</div>
        </div>
        <div class="col-xs-6 text-right">
            <div class="cartSummaryLine cc_cart_total_amount amountToRight">{{price (getPriceWithTaxes subtotal 'uk')}}</div>
            <div class="cartSummaryLine amountToRight total_saving">{{price totalSavings}}</div>
        </div>
        <div class="col-xs-12">
            <button class="primary_button btn btn-default btn-sm processToCheckout cc_checkout_btn {{#unless checkoutEnabled}}readonlyBtn" disabled="disabled"{{else}}"{{/unless}}>{{pageLabelMap 'CartInc_Checkout'}}</button>
        </div>
    </div>
{{else}}
    <div class="row cartSummaryContainer stickyContainer" style="position: static; top: 0px; width: auto;">
        <div class="col-xs-12 cartSummaryTitle cc_label text-right">{{pageLabelMap 'CCB2B_StickyBasketTitle'}}</div>
        <div class="col-xs-12">
            <div class="cartSummaryLine">
            <span class="icon-cart-circle cartIcon">
                <span class="path1"></span>
                <span class="path2"></span>
            </span>
            </div>
            <div class="col-xs-12 text-right">
                <div class="cartSummaryLine cc_label">
                    <span class="detail">{{totalItems}} {{#ifGreater totalItems 1}} {{pageLabelMap 'Component_MiniCart_Items'}} {{else}} {{pageLabelMap
                            'Component_MiniCart_Item'}} {{/ifGreater}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <button class="primary_button btn btn-default btn-sm processToCheckout cc_checkout_btn {{#unless checkoutEnabled}}readonlyBtn" disabled="disabled"{{else}}"{{/unless}}>{{pageLabelMap 'CartInc_Checkout'}}</button>
        </div>
    </div>
{{/if}}